{% extends "core/__base.html" %}

{% block body %}

<!-- App DOM Resources -->
<div id='resources' class='hidden resource root'>

	<div id='templates' class='hidden template root'>

	</div><!-- end #templates -->

</div><!-- end #resources -->

<!-- App Container -->
<div id='main' class='fatcatmap-app fcm-light'>
	{% block header %}
		<header><!-- app header -->
			<div class='header-region left'>
				{% block header_left %}
					{% include "snippets/header_left.html" with context %}
				{% endblock header_left %}
			</div><!-- close .header-region.left -->

			<div class='header-region right'>
				{% block header_right %}
					{% include "snippets/header_right.html" with context %}
				{% endblock header_right %}
			</div><!-- close .header-region.right -->
		</header><!-- close header -->
	{% endblock header %}

	{% block main %}
	{% endblock main %}

	{% block footer %}
		<footer><!-- app footer -->
			<div class='footer-region left'>
				{% block footer_left %}
					{% include "snippets/footer_left.html" with context %}
				{% endblock footer_left %}
			</div><!-- close .footer-region.left -->

			<div class='footer-region right'>
				{% block footer_right %}
					{% include "snippets/footer_right.html" with context %}
				{% endblock footer_right %}
			</div><!-- close .footer-region.right -->
		</footer><!-- end footer -->
	{% endblock footer %}
</div><!-- close #main -->

{% endblock %}