@import "compass/utilities/sprites/sprite-img"
@import _core/config
@import _core/h5bp
@import _core/initializr

math
	display: none

#main
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: #222

@import _core/helpers
@import _core/mediaqueries
@import _core/print